body{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: rgb(168, 0, 0);
  background-color: black;
  text-align: center
  
}
